<tr class="row-image" image-id="{{ image.id }}">
    <td>
        <div>
            <input class="form-check-input check-images" type="checkbox" id="image-checkbox-{{ image.id }}" image-id="{{ image.id }}" value="">
        </div>
    </td>
    <td>
        <input type="hidden" value="{{ image.url }}" id="image-preview-{{ image.id }}">
        <div id="image-name-{{ image.id }}">
            {{ image.title }}
        </div>  
        <form action="{% url 'images:update' image.pk %}" method="POST" class="image-form" image-id="{{ image.id }}">
            {% csrf_token %}
            <input type="hidden" value="{{ image.title }}" class="form-control" id="image-input-name-{{ image.id }}" name="name">
        </form>
    </td>
    <td>{{ image.create_at }}</td>
    <td>{{ image.size }}</td>
    <td>
        <div class='btn-group'>
            <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown">
            </button>
            <div class="dropdown-menu">
                <a href="{{ image.url }}" target="_blank" class="dropdown-item">Vista Previa</a>
                <a href="" class="dropdown-item image-edit" image-id="{{ image.id }}">Editar</a>
                <a href="{% url 'images:download' image.id %}" class="dropdown-item">Descargar</a>
                <div class="dropdown-divider"></div>
                <a href="{% url 'images:show' image.id %}" data-bs-toggle="modal" data-bs-target="#deleteModal" class="dropdown-item image-delete" image-id="{{ image.id }}">Eliminar</a>
            </div>
        </div>
    </td>
</tr>