<div class="modal fade" id="newImage" tabindex="-1" aria-labelledby="newAlbumLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="newAlbumLabel">Nuevo Imagen</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
            <form action="{% url 'images:create' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="modal-body">    
                    {% for field in form %}
                        <div class="form-group">
                            <p></p>
                            {{ field }}
                            <p></p>
                        </div>
                    {% endfor %}
        
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <input class='btn btn-primary' type='submit' value='Subir'>
                </div>
            </form>
        </div>
    </div>
</div>