{% extends 'base/base.html' %}

<!--  ayuda a seleccionar la fila -->
{% block style %}
<style>
    .row-image {
        cursor: pointer;
    }
</style>
{% endblock %}

{% block content %}
{% include 'images/snippets/modal.html' %}
{% include 'images/snippets/delete.html' %}

<div class="row">
    <div class="col">
        <h4><a href="{% url 'albums:list' %}">Galeria</a> / {{ object }}</h4>
    </div>
</div>

<div class="row mt-2">
    <div class="col">
        <form action="{% url 'images:search' %}" id="image-search">
            <input type="text" class="form-control" name="q" placeholder="Escriba una busqueda">
        </form>
    </div>
</div>

<hr>

<div class="row">
    <div class="col">
        <button type="button" class="btn btn-primary me-md-2" data-bs-toggle="modal" data-bs-target="#newImage">
            Nueva Imagen
        </button>
        <a type="button" href="{% url 'images:download_many' %}" class="btn btn-info me-md-2 disabled" id="downloadImagesButton">
            Descargar
        </a>
        <a type="button" href="{% url 'images:delete_many' %}" class="btn btn-danger me-md-2 disabled" id="deleteImagesButton">
            Eliminar
        </a>
    </div>
</div>

<div class='row mt-2'>
    <div class='col-8'>
        <table class='table'>
            <thead>
                <tr>
                    <th>
                        <div>
                            <input class="form-check-input" type="checkbox" id="check-all-images" value="">
                        </div>
                    </th>
                    <th>Nombre</th>
                    <th>Fecha Creacion</th>
                    <th>Size</th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="table-images">
                {% for image in images %}
                    {% include 'images/snippets/image.html' %}
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class='col-4'>
        <img src="{{ input }}" alt="" width="300" height="300" id=image-preview>
    </div>
</div>

{% endblock %}

{% block javascript %}
<script>
    const imagePreview = document.getElementById('image-preview');
    const imageDefault = "https://djangobucketcurso.s3.us-east-2.amazonaws.com/istockphoto-922962354-612x612.jpg";
    const checkAllImages = document.getElementById('check-all-images');
    const downloadImages = document.getElementById('downloadImagesButton');
    const deleteImages = document.getElementById('deleteImagesButton');
    const imageSearch = document.getElementById('image-search');

    function checkInputs(){
        var images = document.querySelectorAll('input.check-images[type="checkbox"]:checked');
        if (images.length >= 2){
            downloadImages.classList.remove('disabled');
            deleteImages.classList.remove('disabled');
        } else {
            downloadImages.classList.add('disabled');
            deleteImages.classList.add('disabled');
        }
    }

    function selectRow(row){
        var imageId = row.getAttribute('image-id');
        var input = document.getElementById('image-preview-' + imageId);
        imagePreview.src = input.value

        // elminina la  clase table-active 
        document.querySelectorAll('.table-active').forEach(element => {
            element.classList.remove('table-active');
        })

        row.classList.add('table-active');
    }

    function setDefaultImage(){
        var rows = document.getElementsByTagName('tr');
        if (rows.length >=2 ){
            selectRow(rows[1]);
        } else {
            imagePreview.src = imageDefault;
        }
    }

    function getSelectedImages(){
        var ids = [];
        document.querySelectorAll('input.check-images[type="checkbox"]:checked').forEach(element => {
            var imageId = element.getAttribute('image-id');
            ids.push(imageId);
        })
        return ids;
    };

    function registerEvents(){

        document.querySelectorAll('.check-images').forEach(element => {
            element.addEventListener('change', function(event){
                checkInputs();
            })
        });

        document.querySelectorAll('.row-image').forEach(element => {
            element.addEventListener('click', function(event){
                selectRow(this);
            })
        })

        document.querySelectorAll('.image-edit').forEach(element => {
            element.addEventListener('click', function(event){
                event.preventDefault();
                var imageId = this.getAttribute('image-id');
                var input = document.getElementById('image-input-name-' + imageId);
                var div = document.getElementById('image-name-' + imageId)
                div.style.display = 'none';
                input.setAttribute('type', 'text');
            })
        })
        
        document.querySelectorAll('.image-form').forEach(element => {
            element.addEventListener('submit', function(event){
                event.preventDefault();

                // Se crea la peticion de forma asincrona el parametro action contiene el url al que se apunta esta peticion
                fetch(this.action, {
                    body: new FormData(this),
                    method: 'POST'
                })
                .then(response => response.json())
                .then(data => {

                    // obtiene el imageId del formulario
                    var imageId = this.getAttribute('image-id');

                    // busca de nuevo el bloque de input y lo esconde
                    var input = document.getElementById('image-input-name-' + imageId);
                    input.value = data.name;
                    input.setAttribute('type', 'hidden');

                    // asigna el nuevo valor al label que lleva el nombre de la imagen
                    var div = document.getElementById('image-name-' + imageId);
                    div.innerHTML = data.name;
                    div.style.display = 'block';

                    // actualiza la direccion de url del preview de la imagen
                    var preview = document.getElementById('image-preview-' + imageId);
                    preview.value = data.url;

                })
            })
        })

    };

    document.querySelectorAll('.image-delete').forEach(element => {
        element.addEventListener('click', function(event){
            event.preventDefault();
            var imageId = this.getAttribute('image-id');
        })
    })

    var deleteModal = document.getElementById('deleteModal')
    deleteModal.addEventListener('show.bs.modal', function (event) {
    // Button that triggered the modal
        var button = event.relatedTarget;
        fetch(button.href)
        .then(response => response.json())
        .then(function(data){
            var imageName = deleteModal.querySelector('#strong-name');
            imageName.textContent = data.name;
            var deleteButton = deleteModal.querySelector('#delete-modal-button');
            deleteButton.setAttribute('href', data.delete_url);
            
        });
    })

    checkAllImages.addEventListener('change', function(event){
        document.querySelectorAll('.check-images').forEach(element => {
            element.checked = this.checked;
        })
        checkInputs();
    });

    deleteImages.addEventListener('click', function(event){
        event.preventDefault();
        var ids = getSelectedImages();

        fetch(this.href, {
            method: "POST",
            body: JSON.stringify({'ids': ids})
        })
        .then(response => response.json())
        .then(function(data){
            for(var i=0; i < data.ids.length; i++){
                var imageId = data.ids[i];
                document.querySelector('tr.row-image[image-id="' + imageId + '"]').remove();
            }
            setDefaultImage();
        });
    });

    downloadImages.addEventListener('click', function(event){
        event.preventDefault();
        var ids = getSelectedImages();

        window.location.href = this.href + '?ids=' + ids;
    });

    imageSearch.addEventListener('submit', function(event){
        event.preventDefault();

        fetch(this.action + '?q=' + this.q.value)
        .then(response => response.json())
        .then(data => {
            var table = document.getElementById('table-images');
            table.innerHTML = data.images.toString().replaceAll(',','');
        });

        registerEvents();
        setDefaultImage();

    });

    registerEvents();
    setDefaultImage();

</script>
{% endblock %}
