{% extends 'base/base.html' %}

{% block content %}
{% include 'albums/snippets/modal.html' %}

<div class="row mt-4">
    <div class="col-10">
        <h2>Galeria</h2>
    </div>

    <div class="col justify-content-md-end">
        <button type="button" class="btn btn-outline-primary me-md-2" data-bs-toggle="modal" data-bs-target="#newAlbum">
            Nuevo Album
        </button>
    </div>
</div>

<div class="row">
    <div class="col">
        <table class="table table-dark table-striped">
            <thead>
                <tr>
                    <th scope='col'>Título</th>
                    <th scope='col'>Fecha de Creación</th>
                    <th scope='col'>Descripción</th>
                </tr>
            </thead>
            <tbody>
                {% for album in object_list %}
                    <tr>
                        <td><i class="fas fa-folder" color="#111111"></i>
                            <a href="{% url 'albums:detail' album.id %}">
                                {{ album.title }}
                            </a>
                        </td>
                        <td>{{ album.created_at | date:'d M Y'}}</td>
                        <td>{{ album.description }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>


{% endblock %}
